---
/*
  Mockup images are provided by shots.so
  Link: https://shots.so/
*/

const testimonials = [
  {
    name: "XR Bootcamp",
    testimonial: "Excellent work Rana!",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Ferhan Özkan",
    testimonial: "Thats amazing achievement Rana to finish this in only 1 week!",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Kathleen Parzan-Banzali",
    testimonial: "Your projects are really amazing!",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Arda Gultekin",
    testimonial: "Excellent attention to details.",
    src: "/",
    alt: "Logo",
  },
];

import Image from "astro/components/Image.astro";
---

<section
  id ="Projects" class="relative overflow-hidden bg-foreground w-full max-w-screen-2xl text-center flex flex-col justify-center items-center gap-2 px-4 py-24 sm:py-24 select-none"
>
  <h2
    class="z-10 w-full max-w-xl sm:text-center text-lg sm:text-2xl md:text-4xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-b from-background via-background to-muted-foreground"
  >
    Every project is a new challenge to overcome.
  </h2>
  <p
    class="w-full max-w-xl bg-clip-text text-transparent bg-gradient-to-b from-background via-background to-muted-foreground sm:text-center text-normal sm:text-lg md:text-xl font-light tracking-tighter text-balance"
  >
    Design, Code, Learn, Repeat.
  </p>
  <div class="z-10 w-full grid grid-cols-1 md:grid-cols-5 grid-rows-6 gap-2">
    <article
      class="overflow-hidden relative bg-dark-card col-span-1 md:col-span-3 md:row-span-2 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 tetx-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          <a href="https://github.com/ranajollanar/DeskOrganiserMR" class="text-pretty hover:text-accent" target="_blank">
             MR Desk Organiser
          </a>      </h3>        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          A mixed reality productivity tool that integrates virtual tools into your physical workspace for enhanced organization.
        </p>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          <strong>Tech Stack:</strong> Unity/C#, Meta SDK, Figma
        </p>
      </div>
      <div class="aspect-video">
        <video
          src="/MyPortfolio/assets/DeskOganiser.mp4"
          controls
          class="object-contain w-full h-full rounded-md"
          loading="lazy"
        >
          Your browser does not support the video tag.
        </video>
      </div>
    </article>
    <article
      class="overflow-hidden group bg-dark-card col-span-1 md:col-span-2 md:row-span-2 md:col-start-4 h-[300px] border border-dark-border rounded-[1rem] p-4 flex flex-col flex-1 gap-2 justify-center items-center"
    >
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center rotate-12 group-hover:rotate-0 border transition-all duration-300 ease-in-out"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Extended Reality
        </span>
      </div>
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center -rotate-6 group-hover:rotate-0 border transition-all duration-300 ease-in-out"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
        Immersive Experiences
        </span>
      </div>
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center border"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Artificial Intelligence
        </span>
      </div>
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center border rotate-12 group-hover:rotate-0 transition-all duration-300 ease-in-out"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Game Development
        </span>
      </div>
    </article>

    

    
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-2 md:row-span-2 md:row-start-3 border h-[300px] border-dark-border rounded-[1rem] px-4 group"
    >
      <div
        class="w-full h-fit max-h-[500px] flex flex-col justify-center select-none overflow-hidden"
      >
        <div
          class="w-full h-max flex flex-col justify-center items-center gap-[4rem] animate-vertical-slide"
        >
          {
            testimonials.concat(testimonials).map((testimonial) => (
              <article class="w-full max-w-sm flex flex-col gap-2 items-center justify-center size-20 border border-dark-border bg-background rounded-[1rem] px-4 py-2">
                <div class="w-full flex items-center justify-start gap-2">
                  {/* <Image
                    src={testimonial.src}
                    alt={testimonial.alt}
                    width={32}
                    height={32}
                    loading="lazy"
                    class="object-contain w-8 h-8 rounded-full bg-secondary"
                  /> */}
                  <span class="w-7 h-7 rounded-full bg-gradient-to-r from-primary to-secondary" />
                  <h1 class="text-sm font-medium">{testimonial.name}</h1>
                </div>
                <p class="w-full text-left text-muted-foreground text-xs">
                  {testimonial.testimonial}
                </p>
              </article>
            ))
          }
        </div>
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-3 md:row-span-2 md:col-start-3 md:row-start-3 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
     <div class="flex flex-col gap-2 w-full items-start p-4 text-left">
      <h3
        class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
      >
          <a href="https://github.com/ranajollanar/SpaceARventure" class="text-pretty hover:text-accent" target="_blank">
             Space ARventure
          </a>      </h3>
      <p
        class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
      >
        An educational AR application designed to teach children about the solar system. It includes a personalised text to speech AI assistant.
      </p>
      <p
        class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
      >
        <strong>Tech Stack:</strong> Unity/C#, ARCore, Figma, Python, Langchain, Flask, Playfab, Ollama, TTS, STT
      </p>
    </div>

      <div class="aspect-video">
        <video
          src="/MyPortfolio/assets/ARventureAstro.mp4"
          controls
          class="object-contain w-full h-full rounded-md"
          loading="lazy"
        >
          Your browser does not support the video tag.
        </video>
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-3 md:row-span-2 md:row-start-5 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 tetx-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          <!-- Add link to the title -->
          <a href="https://github.com/ranajollanar/SpaceMRventure" class="text-pretty hover:text-accent" target="_blank">
             Solar System on HoloLens
          </a>
        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          MR experience in space with interactable celestial bodies and an interactive storyline.
        </p>
        <p
        class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
      >
        <strong>Tech Stack:</strong> Unity/C#, MRTK
      </p>
      </div>
      <div class="aspect-video">
        <video
          src="/MyPortfolio/assets/Hololens.mp4"
          controls
          class="object-contain w-full h-full rounded-md"
          loading="lazy"
        >
          Your browser does not support the video tag.
        </video>
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-2 md:row-span-2 md:col-start-4 md:row-start-5 border h-[300px] border-dark-border rounded-[1rem]"
    >
      <div
        class="w-full h-full flex flex-col gap-5 justify-center items-center"
      >
        <h1
          class="sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          Lets work together
        </h1>
        <a
          href="https://www.linkedin.com/in/rana-jollanar-ben-hassine/"
          target="_blank"
          rel="noopener noreferrer"
          class="w-fit flex gap-2 justify-center items-center px-4 py-2 sm:text-lg font-medium text-background bg-primary rounded-full"
        >
          LinkedIn
          <svg
            width="256"
            height="256"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            viewBox="0 0 256 256"
            class="size-5"
            ><path
              d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
              fill="currentColor"></path></svg
          >
        </a>
      </div>
    </article>
  </div>

  <div class="flex xl:flex-row lg:flex-row w-full flex-col md:gap-2 gap-2">
    <article
      class="overflow-hidden bg-dark-card flex-1 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 text-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          <a href="https://github.com/ranajollanar/IntoMyKitchenVR" class="text-pretty hover:text-accent" target="_blank">
            VR Kitchen Simulator
          </a>
        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
            A VR cooking simulation designed to experiment without wasting ingredients or creating a mess.
        </p>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          <strong>Tech Stack:</strong> Unity/C#, XR Interaction Toolkit
        </p>
      </div>
      <div class="aspect-video">
        <video
          src="/MyPortfolio/assets/IntoMyKitchen.mp4"
          controls
          class="object-contain w-full h-full rounded-md"
          loading="lazy"
        >
          Your browser does not support the video tag.
        </video>
      </div>
    </article>

    <article
      class="overflow-hidden bg-dark-card flex-1 border border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 text-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          Carnival games VR
        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          A VR fantasy town with multiple carnival games.
        </p>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          <strong>Tech Stack:</strong> Unity/C#, XR Interaction Toolkit
        </p>
      </div>
      <div class="aspect-video">
        <video
          src="/MyPortfolio/assets/CarnivalGamesVR.mp4"
          controls
          class="object-contain w-full h-full rounded-md"
          loading="lazy"
        >
          Your browser does not support the video tag.
        </video>
      </div>
    </article>
  </div>

  <div
    class="bg-white opacity-10 absolute size-80 top-[-160px] border blur-[150px] rounded-full"
  >
  </div>
</section>

<style>
  .group:hover .animate-vertical-slide {
    animation-play-state: paused;
  }
</style>
